body {background-color:  #FCEBB6; color: #221811; font-family: Arial, Verdana, sans-serif;}
header {background-color: #D2B48C; color: #8C3826; text-align: center;}
h1 {line-height: 200%;}
h2 {color: #8C3826;}
nav { text-align: center;  font-weight: bold;}
footer {background-color: #D2B48C; font-size: .60em;}
#wrapper {width: 80%; background-color: #FEFAEB; margin-right: auto; margin-left: auto;}